<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a ng-href="#/login" class="navbar-menu-link">Log out</a>
        </nav>
    </div>
</div>
<form class="form">
    <div class="row">
        <div class="cell">
            <table class="table">
                <thead>
                <tr>
                    <th class="th"></th>
                    <th class="th"><h3>recent orders</h3></th>
                    <th class="th"></th>
                </tr>
                <tr>
                    <th class="th">OrderId</th>
                    <th class="th">SourceAddr</th>
                    <th class="th">DestAddr</th>

                </tr>
                </thead>
                <tbody>
                <tr class="tr" ng-repeat="order in oldOrders">
                    <td class="td">{{order.id}}</td>
                    <td class="td">{{order.sourceAddress}}</td>
                    <td class="td">{{order.destinationAddress}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="cell">
            <table class="table">
                <thead>
                <tr>
                    <th class="th"></th>
                    <th class="th"><h3>new orders</h3></th>
                    <th class="th"></th>
                </tr>
                <tr>
                    <th class="th">OrderId</th>
                    <th class="th">SourceAddr</th>
                    <th class="th">DestAddr</th>

                </tr>
                </thead>
                <tbody>
                <tr class="tr" ng-repeat="order in newOrders" ng-click="select(order.id)">
                    <td class="td">{{order.id}}</td>
                    <td class="td">{{order.sourceAddress}}</td>
                    <td class="td">{{order.destinationAddress}}</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="cell">
                    <button class="button" ng-click="update()">Update</button>
                </div>
                <div class="cell">
                    <button class="button" ng-click="accept()">Accept</button>
                </div>
                <div class="cell">
                    <button class="button" ng-click="decline()">Decline</button>
                </div>
            </div>
            <div ng-show="needPay" class="row">
                <div class="cell">
                    <input ng-model="length" class="input" placeholder="Route length"/>
                    <input ng-model="time" class="input" placeholder="Waiting time"/>
                </div>
            </div>
            <div ng-show="needPay" class="row">
                <div class="cell">
                </div>
                <div class="cell">
                    <button ng-click="pay()" ng-enter="pay()" class="button">Paid</button>
                </div>
                <div class="cell">
                </div>
            </div>
        </div>
    </div>

</form>