<div data-gjs="navbar" class="navbar">
    <div class="navbar-container">
        <nav data-gjs="navbar-menu" class="navbar-menu">
            <a ng-href="http://grapesjs.com/demo.html#" data-highlightable="1" class="navbar-menu-link">Source</a>
        </nav>
    </div>
</div>
<form class="form">
    <div class="row">
        <div class="cell">
            <div class="cell">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="th"> </th>
                        <th class="th"> last orders:</th>
                        <th class="th"> </th>
                    </tr>
                    <tr>
                        <th class="th">OrderId</th>
                        <th class="th">SourceAddr</th>
                        <th class="th">DestAddr</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr" ng-repeat="order in orders">
                        <td class="td">{{order.id}}</td>
                        <td class="td">{{order.sourceAddr}}</td>
                        <td class="td">{{order.destAddr}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
            <button class="button" ng-click="PassCtrl.register()">New order</button>
        </div>
        <div class="cell">
        </div>
    </div>
    <div ng-show="PassCtrl.isRegister" class="row">
        <div class="cell">
            <input ng-model="srcAddr" class="input" placeholder="Source Address"/>
            <input ng-model="dstAddr" class="input" placeholder="Destination Address"/>
        </div>
        <div class="cell">
            <button class="button" ng-click="PassCtrl.newOrder()">New order</button>
        </div>
    </div>
</form>